<main>
    <div>
         {{#if success_msg}}
        <div id="flash-msg" class="alert alert-success">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
        <div id="flash-msg" class="alert alert-danger">{{error_msg}}</div>
        {{/if}}
        {{#if pedidos.length}}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Pedido</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Data/Hora</th>
                    <th scope="col">Valor total</th>
                    <th scope="col">Pagamento</th>
                    <th scope="col">Entrega</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each pedidos}}
                <tr>
                    <th scope="row">#{{numero_pedido}}</th>
                    <td>{{nome_cliente}} </td>
                    <td>{{data_pedido}}</td>
                    <td>R$ {{valor_total}}</td>
                    {{#if foi_pago}}
                    <td>
                        <div class="status-pagamento">
                            <span class="pulsar-pago"></span>
                            <span>Pago</span>
                        </div>
                    </td>
                    {{else}}
                    <td>
                        <div class="status-pagamento">
                            <span class="pulsar-pendente"></span>
                            <span>Pendente</span>
                        </div>
                    </td>
                    {{/if}}
                    {{#if entrega }}
                    <td>
                        <p class="status-entregar">Entregar</p>
                    </td>
                    {{else}}
                    <td>
                        <p class="status-retirar">Retirar</p>
                    </td>
                    {{/if}}
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm btn-ver" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop" data-pedido_id="{{pedido_id}}"
                            data-nome_cliente="{{nome_cliente}}" data-endereco="{{endereco}}" data-numero_pedido="{{numero_pedido}}"
                            data-valor_total="{{valor_total}}" data-forma_pagamento="{{forma_pagamento}}"
                            data-foi_pago="{{foi_pago}}" data-observacao="{{observacao}}"
                            data-data_pedido="{{data_pedido}}" data-entrega="{{entrega}}" data-itens='{{{json itens}}}'>
                            <i class="bi bi-eye"></i>
                        </button>
                        <!-- Modal Mostar pedido-->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="modal-titulo"></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3"><strong>Nome:</strong> <span id="modal-nome"></span></div>
                                        <div class="mb-3"><strong>Endereço:</strong> <span id="modal-endereco"></span>
                                        </div>
                                        <div class="mb-3"><strong>Valor Total:</strong> <span
                                                class="text-success fw-bold">R$ <span id="modal-valor"></span></span>
                                        </div>
                                        <div class="mb-3"><strong>Forma de Pagamento:</strong> <span
                                                id="modal-pagamento" class="badge bg-info text-dark"></span></div>
                                        <div class="mb-3">
                                            <strong>Foi Pago:</strong> <span id="modal-pago" class="badge"></span>
                                        </div>
                                        <div class="mb-3"><strong>Observação:</strong> <span id="modal-observacao"
                                                class="fst-italic text-muted"></span></div>
                                        <div class="mb-3"><strong>Data do Pedido:</strong> <span id="modal-data"
                                                class="text-secondary"></span></div>
                                        <div class="mb-4"><strong>Entrega:</strong> <span id="modal-entrega"
                                                class="text-dark"></span></div>
                                        <h5 class="mt-4">Itens do Pedido:</h5>
                                        <div id="modal-itens-container" class="row g-2"></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <a type="button" class="btn btn-primary btn-sm" href="/reativar-pedido/{{pedido_id}}">Reativar Pedido</a>
                    </td>
                </tr>

                {{/each}}
            </tbody>
        </table>

        {{else}}
        <div class="alert alert-info text-center">Nenhum pedido recebido ainda.</div>
        {{/if}}
    </div>

</main>