<main>
    <div class="container mt-4">
        {{#if pedidos.length}}
        {{#each pedidos}}
        <div class="d-flex flex-wrap justify-content-center gap-4">
            <p>Cliente: {{cliente}}</p>
            <p>Endereço: {{endereco}}</p>
            <p>Produto: {{produto}}</p>
            <p>Quantidade: {{quantidade}}</p>
            <p>Valor Total: {{valor_total}}</p>
            <p>Forma de Pagamento: {{forma_pagamento}}</p>
            <p>Pago: {{#if pago}}Sim{{else}}Não{{/if}}</p>
            <p>Observação: {{observacao}}</p>
        </div>
        {{/each}}
        {{else}}
        <div class="alert alert-info text-center">
            Nenhum pedido recebido ainda.
        </div>
        {{/if}}
    </div>
</main>